<?xml version='1.0' encoding='utf-8' ?>
<widget id="ntou.cs.easylearn" version="0.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EasyLearn</name>
  <description>A sample Apache Cordova application that responds to the deviceready event.</description>
  <author email="b4456609@gmail.com" href="http://github.com/b4456609/easy-learn">Jailbreak Team</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="AndroidPersistentFileLocation" value="Internal" />
  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
  <platform name="android">
    <icon src="res/ldpi.png" density="ldpi" />
    <icon src="res/mdpi.png" density="mdpi" />
    <icon src="res/hdpi.png" density="hdpi" />
    <icon src="res/xhdpi.png" density="xhdpi" />
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/splash/res-long-land-hdpi/default.png" density="land-hdpi" />
    <splash src="res/splash/res-long-land-ldpi/default.png" density="land-ldpi" />
    <splash src="res/splash/res-long-land-mdpi/default.png" density="land-mdpi" />
    <splash src="res/splash/res-long-land-xhdpi/default.png" density="land-xhdpi" />
    <splash src="res/splash/res-long-port-hdpi/default.png" density="port-hdpi" />
    <splash src="res/splash/res-long-port-ldpi/default.png" density="port-ldpi" />
    <splash src="res/splash/res-long-port-mdpi/default.png" density="port-mdpi" />
    <splash src="res/splash/res-long-port-xhdpi/default.png" density="port-xhdpi" />
  </platform>

  <preference name="SplashScreenDelay" value="10000" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashScreen" value="screen"/>
</widget>
