/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end */

.setting_flip .ui-slider-switch {
  float: right;
}
.setting_flip h2 {
  display: inline;
}
.note-content {
  padding-left: 10px;
  padding-right: 10px;
}
.note-content p {
  font-weight: normal;
  text-shadow: none;
}
.note-function-button {
  padding-left: 5px;
  padding-right: 5px;
}
.note-left-button {
  float: left;
  width: 40%;
}
.note-right-button {
  float: right;
  width: 40%;
}

/*.ui-li-static.ui-collapsible > .ui-collapsible-heading {
  margin: 0;
}
.ui-li-static.ui-collapsible {
  padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn, .ui-li-static.ui-collapsible > .ui-collapsible-content {
  border-bottom-width: 0;
}*/


/*for youtube video responsive size*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*note color*/

.note-purple {
  background-color: #E1BEE7;
  border-radius: 8px;
}
.note-indigo {
  background-color: #C5CAE9;
  border-radius: 8px;
}
.note-teal {
  background-color: #B2DFDB;
  border-radius: 8px;
}
.note-orange {
  background-color: #FFE0B2;
  border-radius: 8px;
}
.note {
  text-shadow: none;
}

/*login button*/

.facebook_button {
  display: inline-block;
  background: #627aac url(facebook_small.png) left no-repeat;
  border-top: 1px solid #29447e;
  border-right: 1px solid #29447e;
  border-bottom: 1px solid #1a356e;
  border-left: none;
  height: 22px;
  padding-right: 7px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 11px;
  color: white;
  text-decoration: none;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  line-height: 22px;
  cursor: pointer;
}

/*refrence area*/

#pack_refrence {
  word-wrap: break-word;
}

/*version info*/

.version-look > h2 > a {
  background: #B2DFDB !important;
}


/*  push notification */

.notify-bar{
        background-size: 40px 40px;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
         box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
         width: 100%;
         border: 1px solid;
         color: #fff;
         text-shadow: 0 1px 0 rgba(0,0,0,.5);
         background-color: #4ea5cd;
         border-color: #3b8eb5;
         padding: 5px;
}

.notify-bar-height {
    height: 0;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
.notify-bar-height-change {
    height: 20px;
}
